body {
    margin: 0;
    background-color: black;
}

.landing {
    color: white;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    letter-spacing: 4px;
    margin-top: 12%;
    height: 100vh;

}

span {
    color: #cccc99;
}

.landing h1 {
    font-size: 8vh;
    margin-top: 0px;
    margin-bottom: 0px;
}

.landing h2 {
    margin-top: 0px;
}

/* ABOUT */

.about {
    background-color: white;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 2px;
    padding: 140px 0;
    height: 100vh;
    
}

.grid2x2 {
    min-height: 90%;
    max-width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-family: 'Nunito', sans-serif;
    font-size: 1.4vh;
   
  }
  .grid2x2 > div {
    display: flex; 
    flex-basis: calc(50% - 40px);  
    justify-content: center;
    flex-direction: column;
  }
  .grid2x2 > div > div {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  
.box { 
      margin: 15px; 
    
}

.box1 p {
    width: 55%;
    line-height: 25x;
 }

 .box1 img {
    padding: 15px;
    line-height: 15px;
 }

 .box2 p {
    width: 55%;
    line-height: 15px;
    margin-top: 35px;
 }

 .box2 img {
    padding: 15px;
    line-height: 15px;
    margin-top: 25px;
 }

 .box3 p {
    width: 55%;
    line-height: 15px;
 }

 .box3 img {
    padding: 15px;
    line-height: 15px;
 }
  
.box4 p {
    width: 55%;
    line-height: 15px;
 }

 .box4 img {
    padding: 15px;
    line-height: 15px;
   
 }

 /* CONTACT */

 .contact-page {
    background-color: #cccc99;
    letter-spacing: 2px;
    padding: 140px 0;
    height: 100vh;
    font-family: 'Nunito', sans-serif;
    margin-top: auto;
    margin-bottom: auto;
   
}

form {
    float: right;
    margin-right: 14%;
    margin-top: 12%;
}

.ds-illustration {
    margin-left: 7%;
    margin-top: 12%;
}

input {
    width: 120%;
    margin: 8px 0;
}

input[name=name], select {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height: 40px;
}

input[name=message], select {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height: 150px;
}

input[type=submit] {
    width: 60%;
    padding: 14px 20px;
    margin: 4px 0;
    border-color: white;
    border-style: solid;
    color: white;
    background-color: transparent;
    border-radius: 4px;
    cursor: pointer;
}


