body {
    margin: 0;
    background-color: black;
}

.landing {
    color: white;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    letter-spacing: 4px;
    height: 100vh;
}

.daslogo {
    margin-top: 12%;
}

span {
    color: #cccc99;
}

.landing h1 {
    font-size: 8vh;
    margin-top: 0px;
    margin-bottom: 0px;
}

.landing h2 {
    margin-top: 0px;
}

 /* ABOUT */

 .about {
    background-color: white;
    font-family: 'Nunito', sans-serif;
    letter-spacing: 2px;
    padding: 60px 0;
    height: 110vh;
}

.about img {
    height: 230px;
    padding: 480px;
    padding-top: 0px;
    padding-bottom: 10px;
}

.box {
    line-height: 50px;
    text-align: justify;
    margin-left: 115px;
    margin-right: 115px;
    padding-bottom: 20px;
    font-size: 2vh;
}

button {
    border: solid;
    font-family: 'Nunito', sans-serif;
    background-color: #cccc99;
    color: white;
    height: 12vh;
    width: 50%;
    font-size: 3vh;
    margin-bottom: 4px;
    margin-left: 320px;
    margin-right: 320px;
    border-radius: 10px;
}

 /* CONTACT */

.menu {
    background-color: #cccc99;
    letter-spacing: 2px;
    height: 140vh;
    font-family: 'Nunito', sans-serif;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 65px;
}

.menu p {
    margin-left: 25px;
    margin-right: 25px;
    color: white;
}

.menu img {
    height: 140px;
    padding: 85px;
    padding-top: 0px;
    padding-bottom: 10px;
}

@media screen and (max-width: 1200px) {

    .landing {
        color: white;
        font-family: 'Oswald', sans-serif;
        text-align: center;
        letter-spacing: 4px;
        height: 100vh;
    }  

    .daslogo {
        padding-top: 30%;
    }


    /* ABOUT */

    .about {
        background-color: white;
        font-family: 'Nunito', sans-serif;
        letter-spacing: 2px;
        padding: 60px 0;
        height: 100vh;
    }
    
    .about img {
        height: 230px;
        padding: 320px;
        padding-top: 0px;
        padding-bottom: 10px;
    }
    
    .box {
        line-height: 50px;
        text-align: justify;
        margin-left: 45px;
        margin-right: 45px;
        padding-bottom: 20px;
        font-size: 2vh;
    }
    
    button {
        border: solid;
        font-family: 'Nunito', sans-serif;
        background-color: #cccc99;
        color: white;
        height: 12vh;
        width: 95%;
        font-size: 3vh;
        margin-bottom: 4px;
        margin-left: 20px;
        margin-right: 20px;
        border-radius: 10px;
    }
    
     /* CONTACT */
    
    .menu {
        background-color: #cccc99;
        letter-spacing: 2px;
        height: 140vh;
        font-family: 'Nunito', sans-serif;
        margin-top: auto;
        margin-bottom: auto;
        padding-top: 65px;
    }
    
    .menu p {
        margin-left: 25px;
        margin-right: 25px;
        color: white;
    }
    
    .menu img {
        height: 140px;
        padding: 85px;
        padding-top: 0px;
        padding-bottom: 10px;
    }

 

}

@media screen and (max-width: 500px) {

    .landing {
        color: white;
        font-family: 'Oswald', sans-serif;
        text-align: center;
        letter-spacing: 4px;
        height: 100vh;
    }  

    .landing img {
        height: 140px;;
    }

    .daslogo h1 {
        padding-top: 3%;
        font-size: 5vh;
    }

    .daslogo h2 {
        font-size: 3vh;
    }

    /* ABOUT */

.about {
    background-color: white;
    font-family: 'Nunito', sans-serif;
    letter-spacing: 2px;
    padding: 60px 0;
    height: 160vh;
}

.about img {
    height: 140px;
    padding: 85px;
    padding-top: 0px;
    padding-bottom: 2px;
}

.box {
    line-height: 30px;
    text-align: justify;
    margin-left: 25px;
    margin-right: 25px;
    padding-bottom: 20px;
}

button {
    border: solid;
    font-family: 'Nunito', sans-serif;
    background-color: #cccc99;
    color: white;
    height: 12vh;
    width: 90%;
    font-size: 3vh;
    margin-bottom: 4px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
}

 /* CONTACT */

.menu {
    background-color: #cccc99;
    letter-spacing: 2px;
    height: 140vh;
    font-family: 'Nunito', sans-serif;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 65px;
}

.menu p {
    margin-left: 25px;
    margin-right: 25px;
    color: white;
}

.menu img {
    height: 140px;
    padding: 85px;
    padding-top: 0px;
    padding-bottom: 10px;
}

/* form {
    margin: auto;
    float: none;
    padding: 0 50px;
}

form h2 {
    font-size: 4vh;
}

input {
    width: 100%;
    margin: 8px 0;
}

input[name=name], select {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height: 40px;
}

input[name=message], select {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height: 450px;
}

input[type=submit] {
    width: 40%;
    padding: 14px 20px;
    margin: 4px 0;
    border-color: white;
    border-style: solid;
    color: white;
    background-color: transparent;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.5vh;
} */
}


